In [5]:
from equity_reporting import config
import pandas as pd

In [6]:
pd.read_excel(config.DataPaths.monthly_distributions)

  Portfolio Code  Amount  Date
0         CLA165    4000    29
1         cl1363    2500    24
2         CL6461    6000    29
3         cl1579   15000    12

In [7]:
pd.read_excel(config.DataPaths.dont_invest_dividends)

  Account
0  cl3765
1  cl4526
2  cl6310
3  cl9677
4  cl7796
5  cl3734